SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/SUA_CHAVE
PRIVATE_KEY=chave_privada_deployer
ETHERSCAN_API_KEY=sua_chave_etherscan

REGISTRY_ADDRESS=
BRL1_ADDRESS=
COCO_ASSET_ADDRESS=
SUSTAINABILITY_NFT_ADDRESS=
MARKET_ADDRESS=
WITHDRAWAL_ADDRESS=
PAYMASTER_ADDRESS=
